
.section__mapaCursos {
    @include flex(column);
    background-color: $color-7;
    margin-top: 1.5rem;
    color: $color-3;
    height: 60vh;

    &__h2 {
        width: $width;
        margin: 1rem auto;
    }

    &__div {
        @include flex(row, nowrap, space-between);
        width: $width;
        margin: 0 auto;
    }

    @each $key,
    $color in $cursos-colors {
        &__h3--#{$key} {
            border-left: 4px solid $color;
            color: $color;
            padding-left: .3rem;
        }
    }


    &__ul {
        list-style: none;
        padding: 0;
    }

    &__li {
        line-height: 1.5rem;
    }

    &__a {
        text-decoration: none;
        color: $color-3;
    }
}