$cursos-colors: (
    color1: #25D285,
    color2: #5EC6F3,
    color3: #A882BB,
    color4: #EC6E5A
);

$color-1: #9FA1AD;
$color-2: #9799A6;
$color-3: #FFFFFF;
$color-4: #F2F5F7;
$color-5: #5E9EDC;
$color-6: #EC6E5A;
$color-7: #324C64;
$color-8: #4DBA7A;

$width: 85%;