@import "variables.scss";
@import "mixin.scss";
@import "header.scss";
@import "cursos.scss";
@import "info.scss";
@import "mapaCursos.scss";
@import "footer.scss";

body {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .header {
        @include flex(column);
        margin-bottom: 2rem;

        &__nav {
            @include flex(column);

        }

        &__a {
            text-align: center;
            width: 90vw;
            border: none;
            border-bottom: 2px solid #9799A6;


            &--mobileFirst {
                order: -1;
            }
        }
    }

    .section__cursos {
        @include flex(column);

        &__h2 {
            text-align: center;
        }

        &__ul {
            @include flex(column);

        }

        &__li {
            width: 85vw;
            margin: 1rem auto;
        }
    }

    .section__info {
        @include flex(column);

        &__iframe {
            width: auto;
        }
    }

    .section__mapaCursos {
        height: auto;

        &__h2 {
            text-align: center;
        }

        &__div {
            @include flex(column);
        }
    }

    .footer {
        @include flex(column);

        &__div {
            width: auto;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        &__legend {
            margin: 0 auto;
        }
    }
}